@use 'sass:color';
@use 'colours' as *;
@use 'mixins' as *;

main {
	display: flex;
	flex-direction: column;
}

body:has(main.root) {
	background-image: linear-gradient(
		blue,
		navy,
	);
	// width: 100dvw;
	height: 100dvh;
	z-index: -1;
}


main.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.8rem;
	min-height: 70dvh;
}