@use 'sass:color';
@use 'colours' as *;
@use 'mixins' as *;

main {
	display: flex;
	flex-direction: column;
}

body:has(main.root) {
	background-image: linear-gradient(
		blue,
		navy,
	);
	// width: 100dvw;
	height: 100dvh;
	z-index: -1;
}


