@use 'sass:color' as colour;

:root {
	color-scheme: light dark;
}

main.stars {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 1.6rem;
	overflow-y: scroll;
}

#measurement-inputs {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;

	gap: 1rem;

	input,
	button {
		border: 1px solid lightgrey;
		background-color: rgba(56, 56, 56, 0.1);
		border-radius: 0.5rem;
		backdrop-filter: blur(1rem);
		padding: 0.5rem;

		outline: none;

		&:hover {
			cursor: pointer;
			border-color: turquoise;
		}

		&:active,
		&:focus-within {
			border-color: lightseagreen;
		}
	}
}

#output {
	border: 0.2rem darkslategrey solid;
	border-radius: 0.5rem;

	padding: 1rem;

	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(1rem);

	#star {
		$size: 5rem;

		width: $size;
		height: $size;

		clip-path: none;

		background-color: lightseagreen;
	}

	#code {
		overflow: scroll;
		max-height: 20rem;

		font-family: monospace;

		font-size: large;

		&::before {
			color: gray;
			content: "clip-path: ";
		}

		&::after {
			color: gray;
			content: ";";
		}
	}
}